# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# Data cache
*.cache
*.h5
*.hdf5
*.npy
*.npz

# Jupyter Notebook
*.ipynb

# Pytest
.cache/

# PyCharm
.idea/

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Ignore data directory
data/